<div class="box">
   <div class="title">
      <h5>文章分类列表</h5>
      <ul class="links">
         <li><a href="{url:/tools/article_catergory_edit}">添加新分类</a></li>
      </ul>
   </div>
   <form action="{url:/tools/article_catergory_del}" method="post">
      <div class="table">
         <table>
            <col width="60%" />
            <col width="10%" />
            <col />
            <col width="5%" />
            <thead>
               <tr>
                  <th class="left">分类名称</th>
                  <th>顶级分类</th>
                  <th>操作</th>
                  <th class="last">
                     <input type="checkbox" class="checkall" />
                  </th>
               </tr>
            </thead>
            <tbody>
               {set:$page= (isset($_GET['page'])&&(intval($_GET['page'])>0))?intval($_GET['page']):1;}
               {query: name = article_catergory
                       order = id ASC
                       page=$page
                       pagesize=10
               }
               {set:$path = substr_count($item['path'],',')}
               <tr>
                  <td class="title"><b style="margin-left:{echo:($path-2)*2}0px">{if:$path == 2}{else:}└{/if}{$item['name']}</b></td>
                  <td class="category">{if:$path == 2}是{else:}否{/if}</td>
                  <td class="operation">
                     <a href="{url:/tools/article_catergory_edit/id/$item[id]}">编辑分类</a>
                     <a href='javascript:void(0)' onclick="delModel({link:'{url:/tools/article_catergory_del/id/$item[id]}'});">删除分类</a>
                  </td>
                  <td class="last">
                     <input type="checkbox" name='id[]' value="{$item['id']}" />
                  </td>
               </tr>
               {/query}
            </tbody>
         </table>
         <div class="pagination pagination-left">
            <div class="results"><span>{$query->getTotalPage()}</span></div>
            <ul class="pager">{$query->getPageBar()}</ul>
         </div>
         <div class="action">
              <div class="button"><input type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-state-focus" value="批量删除" onclick="delModel();" /></div>
         </div>
      </div>
   </form>
</div>