<div class="box">
   <div class="title">
      <h5>文章分类管理->{if:isset($this->catRow['id'])}编辑{else:}添加{/if}文章分类</h5>
   </div>
   <div class="form">
      <form action="{url:/tools/article_catergory_edit_act}" method="post">
         <div class="fields">
           <div class="field">
              <div class="label">
                 <label for="title">分类标题：</label>  
              </div>
              <div class="input">
                 <input type="hidden" name="id" value="{$this->catRow['id']}"/>
                 <input type="text" class="small" name="name" id="title" value="{$this->catRow['name']}" />
              </div>
           </div>
           <div class="field">
              <div class="label"><label>上级分类：</label></div>
              <div class="select">{echo:Article::showArticleCat('parent_id',$this->catRow['parent_id'],array('顶级分类'=>0))}</div>
           </div>
           <div class="buttons">
               <div class="highlight"><input type="submit" class="ui-button ui-widget ui-state-default ui-corner-all" value="提交" /></div>
           </div>
         </div>
      </form>
   </div>
</div>